<div style="width: 100%; height: 1122px; background: yellow;">
  <as-split direction="horizontal" gutterSize="4" gutterColor="red">
    <as-split-area size="50">
      <as-split>
        <as-split-area size="25">
          <form>
            <img class="img-fluid" src="assets/download.jpg" alt="Card image cap">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" style="width: 70%;" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" style="width: 70%;" id="exampleInputPassword1" placeholder="Password">
            </div>
            <select class="custom-select custom-select-lg mb-3" style="width: 70%;">
              <option disabled selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area size="50">
      <as-split>
       <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
         doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
         veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
           sed quia consequuntur magni dolores eodolor sit amet, consectetur, 
           adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore 
           magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </as-split>
    </as-split-area>
  </as-split>
</div>
